[data]
purpose = {{ promptString "Purpose (home or work)" | quote }}
sth = {{ promptString "suspend-then-hibernate (yes or no)" | quote }}

[data.monitors.wayland]
{{ if eq .chezmoi.hostname "arch-ryzen" }}
id_1 = "DP-1"
id_2 = "HDMI-A-1"
id_3 = "DP-2"
id_4 = "HDMI-A-2"
{{ else if eq .chezmoi.hostname "oberflaechengeraet-bogen" }}
id_1 = "eDP-1"
id_2 = "DP-1"
id_3 = "todo"
id_4 = "todo"
{{ else }}
id_1 = "todo"
id_2 = "todo"
id_3 = "todo"
id_4 = "todo"
{{- end }}


[data.monitors.x11]
{{ if eq .chezmoi.hostname "arch-ryzen" }}
id_1 = "DP-0"
id_2 = "HDMI-0"
id_3 = "DP-5"
id_4 = "HDMI-1"
{{ else }}
id_1 = "todo"
id_2 = "todo"
id_3 = "todo"
id_4 = "todo"
{{- end }}


