#!/bin/sh
# vim: set filetype=sh :

. ~/.config/yprofile

{{- if eq .chezmoi.hostname "arch-ryzen" }}
# G502: 1600 DPI @ .2 Sens -> 400 eDPI
#xinput set-prop "Logitech G502 LIGHTSPEED Wireless Gaming Mouse" 158 .25 0 0 0 .25 0 0 0 1

# Workaround to change DPI - See https://github.com/i3/i3/issues/4792#issuecomment-1286619777
xinput set-prop "Logitech G502 LIGHTSPEED Wireless Gaming Mouse" 299 0, 1
xinput set-prop "Logitech G502 LIGHTSPEED Wireless Gaming Mouse" 296 -0.4
{{- end }}

