#pinentry-program /home/stefan/dev/github/pinentry-rofi/src/pinentry-rofi.sh
{{ if ne .purpose "work" }}
pinentry-program /usr/bin/pinentry-rofi
{{- else }}
pinentry-program /usr/bin/pinentry
{{- end }}
