/* vim: set filetype=scss : */

@define-color theme-01 #f2d5cf; /* Rosewater */
@define-color theme-02 #eebebe; /* Flamingo */
@define-color theme-03 #f4b8e4; /* Pink */
@define-color theme-04 #ca9ee6; /* Mauve */
@define-color theme-05 #e78284; /* Red */
@define-color theme-06 #ea999c; /* Maroon */
@define-color theme-07 #ef9f76; /* Peach */
@define-color theme-08 #e5c890; /* Yellow */
@define-color theme-09 #a6d189; /* Green */
@define-color theme-10 #81c8be; /* Teal */

@define-color theme-bg #303446; /* Base */

/* Reset all styles */
* {
	color: @theme-01;
	background: @theme-bg;
	border: 0;
	border-radius: 0;
	padding: 0 0;
	font-family: mono;
	font-size: 15px;
	margin-right: 5px;
	margin-left: 5px;
}

window#waybar {
	background: @theme-bg;
}

#workspaces button {
	padding: 2px 0px;
	border-bottom: 2px;
	color: @theme-01;
	border-color: @theme-01;
	border-style: solid;
	margin-top:2px;
}

#workspaces button.focused {
	border-color: @theme-04;
}


#workspaces button.urgent {
	border-color: @theme-05;
}

#mode {
	color: @theme-05;
}

#clock, #battery, #cpu, #memory,#idle_inhibitor, #temperature,#custom-keyboard-layout, #backlight, #network, #pulseaudio, #mode, #tray, #window, #disk, #wireplumber, #custom-launcher,#custom-power,#custom-pacman, #custom-network_traffic, #mpd, #custom-kdeconnect {
	padding: 0 3px;
	border-bottom: 2px;
	border-style: solid;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */


#tray {
	color: @theme-01;
}
#clock {
	color: @theme-01;
}

#battery {
	color: @theme-02;
}

#cpu {
	color: @theme-03;
}

#memory {
	color: @theme-04;
}

#temperature {
	color: @theme-05;
}

#network{
	color: @theme-06;
}

#disk {
	color: @theme-07;
}

#wireplumber {
	color: @theme-08;
}

#pulseaudio {
	color: @theme-08;
}

#mpd {
	color: @theme-09;
}

#custom-kdeconnect {
	color: @theme-10;
}

